
<div class="modal fade" id="dynamicModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="dynamicModalContent" class="modal-content">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/dynamicModal")