@model EnrollmentSystem.Web.MVC.Common.PartialModels.EditableDisplay

<div class="row">
    <div class="col">
        @Model.DisplayName
    </div>
    <div class="col">
        <span class="partialDisplay">
            @Model.DisplayText
        </span>
        <span class="partialEditor">
            @Model.Editor
        </span>
    </div>
</div>