<div class="loading-overlay bg-light h-100 w-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 text-center">
            <div class="spinner-border loading-spinner">
            </div>
        </div>
    </div>
</div>